.testimonials {
  background-color: #000;
}
.testimonials .row.top {
  min-height: 80%;
  display: block;
  overflow: hidden;
}
@media (max-width: 991px) {
  .testimonials .row.top {
    padding: 50px 0px;
  }
}
.testimonials .row.top .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2% 5%;
}
.testimonials .row.top .content .baffle_text span {
  color: #fff;
  font-family: Poppins;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}
@media (max-width: 991px) {
  .testimonials .row.top .content .baffle_text span {
    font-size: 40px;
    line-height: 40px;
  }
}
.testimonials .row.top .content .testimonials_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .testimonials .row.top .content .testimonials_container {
    display: block;
    padding: 70px 0px;
  }
}
@media (min-width: 992px) {
  .testimonials .row.top .content .testimonials_container .container {
    max-width: 800px;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .testimonials .row.top .content .testimonials_container .container {
    max-width: 400px;
    margin: auto;
  }
}
.testimonials .row.top .content .testimonials_container .quote .animated {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials .row.top .content .testimonials_container .quote svg {
  font-size: 100px;
  color: #eb83f8;
  position: absolute;
  opacity: 0.2;
}
.testimonials .row.top .content .testimonials_container .testimonial {
  outline: none;
}
.testimonials .row.top .content .testimonials_container .testimonial h2 {
  color: #fff;
  font-family: Poppins;
  text-align: center;
  font-weight: bold;
}
.testimonials .row.top .content .testimonials_container .testimonial .testimonial_content {
  margin: 20px 0 30px 0;
}
.testimonials .row.top .content .testimonials_container .testimonial .testimonial_content p {
  font-family: Poppins;
  color: #eee;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
}
.testimonials .row.top .content .testimonials_container .testimonial .client_container {
  display: flex;
  justify-content: center;
}
.testimonials .row.top .content .testimonials_container .testimonial .client_container .client {
  display: flex;
}
.testimonials .row.top .content .testimonials_container .testimonial .client_container .client img {
  max-width: 50px;
  max-height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  margin-bottom: 0;
  margin-right: 20px;
}
.testimonials .row.top .content .testimonials_container .testimonial .client_container .client .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonials .row.top .content .testimonials_container .testimonial .client_container .client .info p {
  margin-bottom: 0;
  text-align: left;
}
.testimonials .row.top .content .testimonials_container .testimonial .client_container .client .info p.name {
  font-size: 15px;
  color: #fff;
}
.testimonials .row.top .content .testimonials_container .testimonial .client_container .client .info p.profession {
  font-weight: bold;
  font-size: 10px;
  color: #eb83f8;
}
.testimonials .row.top .content .testimonials_container .slick-dots {
  bottom: -50px;
}
.testimonials .row.top .content .testimonials_container .slick-dots li button:before {
  color: #fff;
  opacity: 1;
}
.testimonials .row.top .content .testimonials_container .slick-dots li.slick-active button:before {
  color: #eb83f8;
}
.testimonials .row.bottom {
  display: flex;
  min-height: 20%;
  background-color: orange;
}
@media (max-width: 991px) {
  .testimonials .row.bottom {
    display: none;
  }
}
.testimonials .row.bottom .client {
  display: flex;
  justify-content: center;
}
@media (max-width: 991px) {
  .testimonials .row.bottom .client {
    margin: 50px 0;
  }
}
.testimonials .row.bottom .client img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 0;
  max-width: 100px;
  max-height: 100px;
  opacity: 0.5;
  transition: 0.5s;
}
.testimonials .row.bottom .client img:hover {
  opacity: 1;
}
.testimonials .row.bottom .client div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slick Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-slider .slick-list:focus {
  outline: none;
}
.slick-slider .slick-track {
  transform: translate3d(0, 0, 0);
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-slider .slick-track:before {
  display: table;
  content: "";
}
.slick-slider .slick-track:after {
  display: table;
  content: "";
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img {
  display: block;
}

.slick-initialized .slick-slide {
  display: block;
}/*# sourceMappingURL=styles.css.map */